<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container">
    <div id="b1" class="box">box-1</div>
    <div id="b2" class="box">box-2</div>
    <div id="b3" class="box">box-3</div>
    <div id="b4" class="box">box-4</div>
    <div id="b4" class="box">box-5</div>
    <div id="b4" class="box">box-6</div>
    <div id="b4" class="box">box-7</div>
    <div id="b4" class="box">box-8</div>
    <div id="b4" class="box">box-5</div>
    <div id="b4" class="box">box-6</div>
    <div id="b4" class="box">box-7</div>
    <div id="b4" class="box">box-8</div>
    <div id="b4" class="box">box-5</div>
    <div id="b4" class="box">box-6</div>
    <div id="b4" class="box">box-7</div>
    <div id="b4" class="box">box-8</div>

  </div>
</body>
</html>