* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

#container{
  display: grid;
  /* width: 600px; */
  height: 400px;
  grid-template-columns: minmax(100px, 200px) minmax(200px, 300px) minmax(300px, 400px);
  grid-template-rows: 1fr;
  margin: 30px auto;
}

#d1{
  background-color: aqua;
}

#d2{
  background-color: rgb(132, 255, 0);
}
#d3{
  background-color: rgb(255, 111, 0);
}

