<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="container-div">
    <div id="header-div">Header</div>
    <div id="main-div">
      <div id="left-side">
        <div id="lefttop-div">Hero</div>
        <div id="leftbottom-div">Sidebar</div>
      </div>
      <div id="right-side">
        <div id="righttop-div">Main content</div>
        <div id="rightbottom-div">Extra content</div>
      </div>
    </div>
    <div id="related-div">
      <div id="image-div">Related images</div>
      <div id="post-div">Related posts</div>
    </div>
    <div id="footer-div">Footer</div>
  </div>
</body>
</html>