p{
  border: 2px solid black;
  /* display: block; */
  /* display: inline; */
  /* display: inline-block; */
  /* display: none; */
  /* visibility: hidden; */
  /* opacity: 0; */
  width: 200px;
  height: 200px;
  

}