*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#grid-rows{
  height: 200px;
  width: 500px;
  background-color: aqua;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 50px 100px 50px;
}

/* .box-1{
  background-color: brown;
}
.box-2{
  background-color: rgb(10, 217, 38);
}
.box-3{
  background-color: rgb(245, 233, 9);
} */

#grid-columns{
  width: 400px;
  height: 300px;
  border-color: chartreuse;
  display: grid;
  margin: 10px auto;
  grid-template-columns: 100px 150px 150px;
}

#grid-rows-columns{
  background-color: lightcoral;
  width: 400px;
  height: 300px;
  display: grid;
  margin: 20px auto;
  grid-template-columns: 200px 200px;
  grid-template-rows:150px 150px ;
}

.box-1 {
  background-color: brown;
}

.box-2 {
  background-color: rgb(10, 217, 38);
}

.box-3 {
  background-color: rgb(245, 233, 9);
}
.box-4 {
  background-color: rgb(9, 64, 245);
}